*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(243, 239, 239);
}
.navbar a{
    font-size: large;
    color: white;
    font-weight: bold;
    padding:10px;
    text-decoration: none;
}
.navbar{
    padding: 20px;
    background-color: rgb(57, 189, 226);
}
.navbar a:hover{
    background-color: white;
    color: aqua;
    border-radius: 20px;
}
.container{
    display: flex;
    flex-direction:column
}
h2,p,img,h5{
    padding: 20px;
}
.content-right{
    
    padding: 20px;
    background-color: rgb(199, 202, 202);
    width:40%;
}

.content-left{
     padding: 20px;
}
.image{
    background-color:  rgb(57, 189, 226);
    height:50% ;
    
}

