*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: rgb(21, 43, 79);;
}
.nav{
    padding-right: 60%;
    display: flex;
    flex-direction: row;
    padding: 18px;
    background-color: rgb(13, 67, 144);
    
    
}
.nav h2{
    padding-left: 40px;
}
.header{
    padding-left: 70%;
}
.nav a{
    font-size: large;
    color: white;
    padding:10px;
    text-decoration: none;
}   
.nav a:hover{
    color: aqua;
    border-radius: 20px;
}
.About{
    padding-left: 50px;
      display: flex;
      flex-direction: row;
}
.content{
        width: 38%;
    font-size: 30px; 
      padding: 50px;
      margin: 50px;
}
.content h1{
    padding :10px;
    font-size: 65px;
}
.name{
    color: rgb(69, 126, 205);
}
.content h5{
    padding :10px;
    font-size: 25px;
    font-weight: 300;
}
.content p{
    padding :10px;
    font-size: 20px;
}
.content button{
    width:40%;
    padding-left: 20px ;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 20px;
    font-weight:400;
    border: none;
    background-color: rgb(69, 126, 205);
    border-radius: 20px;
    color: rgb(232, 226, 226);
}
.content button hover{
    background-color: white;
    color: rgb(69, 126, 205);
}
.hero{
    padding: 30px;
    margin: 20px;
    border: 2;
    border-image: round;
}
#rcorners1 {
  border-radius: 100px;
  background: rgb(13, 67, 144);
  padding: 10px;
}