*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: rgb(21, 43, 79);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    padding-right: 60%;
    display: flex;
    flex-direction: row;
    padding: 18px;
    background-color: rgb(13, 67, 144);
    
    
}
.nav h2{
    padding-left: 40px;
}
.header{
    padding-left: 70%;
}
.nav a{
    font-size: large;
    color: white;
    padding:10px;
    text-decoration: none;
}   
.nav a:hover{
    color: rgb(21, 43, 79);
    border-radius: 20px;
}
.About{
    padding-left: 50px;
      display: flex;
      flex-direction: row;
}
.content{
        width: 38%;
    font-size: 30px; 
      padding: 50px;
      margin: 50px;
}
.content h1{
    padding :10px;
    font-size: 65px;
}
.name{
    color: rgb(69, 126, 205);
}
.content h5{
    padding :10px;
    font-size: 25px;
    font-weight: 300;
}
.content p{
    padding :10px;
    font-size: 20px;
}
.content button{
    width:40%;
    padding-left: 20px ;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 20px;
    font-weight:400;
    border: none;
    background-color: rgb(69, 126, 205);
    border-radius: 20px;
    color: rgb(232, 226, 226);
    box-shadow: 0px 0px 2px 0px rgb(38, 38, 38);
}
.content button:hover{
    background-color: white;
    color: rgb(13, 67, 144);
    transition: 0.7s;
}

.hero{
    padding: 20px;
    margin-top: 80px;
    border: 2;
    border-radius: 80%;
    height: 75%;
    background-color: rgb(13, 67, 144);
    
}
#rcorners1 {
    height: 75%;
  border-radius: 80%;
  background-color: white;
  padding: 15px;
   
}
